
body{
    height: 100vh;
    display: flex;
    margin: 0 0;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(rgb(47,150,163), rgb(48,62,143)); */
    background: rgb(31, 31, 31);;
    font-family: sans-serif;
    color: #ebebeb;
}

.location, .temperature{
    height: 25vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 232, 161);
    color: black;
    margin: 20px auto auto auto;
    padding-top: 20px;
    /* align-items: center; */
}
.name-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.temperature-description{
    justify-content: left;
}
.current h3,h4{
    margin: 0 0;
    text-align: left;
    margin-left: 20px;
}

.temperature-description{
    text-align: left;
    text-transform: capitalize;
    margin-left: 20px;
}
/* .header a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
} */

.header{
    margin: 0 0; 
    padding: 15px 20px;
    height: 30px;
    background-color: blueviolet;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.header h2 {
    margin: 0;
    font-size: 20px;
}
.header a{
    text-decoration: none;
    color: white;
    margin: auto 20px;
}
.temperature-small{
    font-size: 15px;
    margin-left: 0;
}
.header .brand{
    padding-left: 0;
    margin-left: 10px;
}