
body{
    height: 100vh;
    display: flex;
    margin: 0 0;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(rgb(47,150,163), rgb(48,62,143)); */
    background: rgb(31, 31, 31);;
    font-family: sans-serif;
    color: #ebebeb;
}

.location, .temperature{
    height: 25vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 232, 161);
    color: black;
    margin: 20px auto auto auto;
    /* align-items: center; */
}
.name-icon{
    display: flex;
    flex-direction: row;
}
.temperature-degree{
    font-size: 40px;
}
.temperature-description{
    justify-content: left;
}
.current h3,h4{
    margin: 0 0;
    text-align: left;
    margin-left: 20px;
}

.temperature-description{
    text-align: left;
    text-transform: capitalize;
    margin-left: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li:nth-of-type(1){
    font-size: 25px;;
}

nav li{
    padding: 0 20px;
    float: left;
}

nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav{
    margin: 0 0; 
    padding: 15px 20px;
    background-color: blueviolet;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}